<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

</div>
<body>
    <div class="container">
        <div class="form">
            <p class="ctr"><span class="listHeader">TODO List</span></p>
            <p class="ctr">A place to store the things you have to do!</p>
            <p class="ctr"><input [(ngModel)]="searchText" type="text" placeholder="Filter your to-dos"></p>
            <ol>
              <li *ngFor = "let item of (todoList | filter : searchText)">
                <p [ngClass]="{'strikethrough':item.completed===true}"><button class="completeButton" *ngIf="item.completed==false"  (click)="completeTodoItem(todoList.indexOf(item))">Complete</button>{{ item.task }}
                <span (click)="deleteTodoItem(todoList.indexOf(item))" class="xButton">X</span></p>
              </li>
            </ol>
            <p class="ctr"><input type="text" placeholder="Add your to-dos" [(ngModel)]="todoInput" /></p>
            <p class="ctr"><button (click)="addTodoItem()" class="addButton">Add</button><p>
            
        </div>
    </div>

</body>
